API_URL="http://localhost:3000/api"
GITHUB_TOKEN="change_me"
STRAVA_CLIENT_ID="change_me"
STRAVA_CLIENT_SECRET="change_me"
STRAVA_REFRESH_TOKEN="change_me"
OURA_ACCESS_TOKEN="change_me"
INSTAGRAM_TOKEN="change_me"
YOUTUBE_API_KEY="change_me"
UNSPLASH_ACCESS_KEY="change_me"

GOOGLE_PRIVATE_KEY="change_me"
GOOGLE_CLIENT_EMAIL="change_me"
GOOGLE_CLIENT_ID="change_me"